server:
  port: 8091
  servlet:
    session:
      timeout: 120m
      cookie:
        http-only: true
        name: ice-sessionId
    register-default-servlet: true
    encoding:
      charset: UTF-8
  tomcat:
    threads:
      max: 120
    keep-alive-timeout: 30s
    max-keep-alive-requests: 120
  shutdown: graceful

  error:
    include-binding-errors: never
    include-message: never
    include-stacktrace: never

spring:
  config:
    activate:
      on-profile: dev
  lifecycle:
    timeout-per-shutdown-phase: 30s
  main:
    allow-bean-definition-overriding: false
  web:
    resources:
      add-mappings: false
  mvc:
    async:
      request-timeout: 20s
    pathmatch:
      matching-strategy: ant_path_matcher
    format:
      date: yyyy-MM-dd
      date-time: yyyy-MM-dd HH:mm:ss
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    locale: zh_CN
    time-zone: GMT+8
  task:
    execution:
      thread-name-prefix: pulsar-
      pool:
        queue-capacity: 150
        core-size: 8
        max-size: 12
        keep-alive: 100s
    scheduling:
      thread-name-prefix: ice-
      pool:
        size: 20
      shutdown:
        await-termination: true
        await-termination-period: 60s

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ice?useUnicode=true&characterEncoding=utf-8&autoReconnect=true&zeroDateTimeBehavior=convertToNull&useSSL=false&rewriteBatchedStatements=true&allowMultiQueries=true&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    username: root
    password: ${MYSQL_PWD}
    hikari:
      max-lifetime: 3600000
      maximum-pool-size: 20
      minimum-idle: 10
      idle-timeout: 1800000
      connection-timeout: 60000
      connection-test-query: SELECT 1

  data:
    redis:
      host: 127.0.0.1
    mongodb:
      database: milkomeda
      host: localhost
      port: 27017

mybatis-plus:
  mapper-locations:
    - classpath*:mapper/*.xml
  config-location: classpath:config/mybatis-config.xml
  type-aliases-package: com.yizzuide.ice.api.domain
  # mybatis-plus全局配置
  global-config:
    db-config:
      # id自增长
      id-type: auto
      # 逻辑删除字段名
      logic-delete-field: isDelete

logging:
  level:
    com.github.yizzuide.milkomeda.ice.inspector.mapper: DEBUG
    com.yizzuide.ice.api.mapper: DEBUG
  charset:
    console: UTF-8
    file: UTF-8

knife4j:
  # 开启增强配置
  enable: true
  # 生产环境屏蔽
  production: ${condition.equals(${spring.profiles.active}, prod)}



