<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizzuide.ice.api.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.yizzuide.ice.api.domain.SysRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_code,role_name,
        create_user,create_time,update_time,
        remark,is_delete
    </sql>
</mapper>
